@charset"utf-8";

/* @Reset */
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/*overflow-x:hidden;*/
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	/*overflow-x:hidden; */
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
a,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

ol,
ul,
li {
	list-style: none;
	vertical-align: top;
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

img {
	border: 0;
}

/* ---------------------------------- */
/* @HTML5 */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
div,
summary,
mark {
	display: block;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* @Global */
* {
	line-height: 20px;
	font-weight: normal;
}

.clr {
	clear: both;
}

.f_right {
	float: right;
}

.d_hide {
	display: none;
}

.d_show {
	display: block;
}

.t_right {
	text-align: right;
}

.imgBox {
	display: block;
}

.border_no {
	border: 0px !important;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

/**遮罩层*/
.filterAbs {
	position: fixed;
	_position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=40, style=0);
	-moz-opacity: 0.4;
	opacity: 0.4;
}

/*loading*/
.loadAbs {
	position: absolute;
	z-index: 102;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -50px;
	width: 100px;
	height: 100px;
	display: none;
}

/*.htmlScroll { scrollbar-face-color:#AED562; scrollbar-highlight-color:#AED562; scrollbar-3dlight-color:#759C2A; scrollbar-darkshadow-color:#354020; scrollbar-Shadow-color:#AED562; scrollbar-arrow-color:#FFF; scrollbar-track-color:#354020;
	background:url(../images/link_img_03.png) no-repeat 0 0;
	_background-image:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='img/link_img_03.png');
	border-bottom-right-radius:5px; border-bottom-left-radius:5px; -webkit-box-shadow:2px2px6px#000; -moz-box-shadow:2px2px6px#000;
}*/
/* @Font */
.color {
	background-color: #ff3333 !important;
}

a {
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #ca891a;
	text-decoration: underline;
}

.c_white {
	color: #fff;
}

.c_green {
	color: #AFD462;
}

.red {
	color: #b51304;
}

/*aLink*/
.aLink {
	display: block;
	overflow: hidden;
	text-indent: -10000px;
}

.aLinkStyle {
	background: #000;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

/***KILL IE6***/
#browserId {
	position: absolute;
	z-index: 2000;
	top: 100px;
	left: 0;
	width: 100%;
	height: 400px;
	display: none;
}

.dldtdd dl {
	display: inline-block;
	float: left;
}

.dldtdd dt {
	display: inline-block;
	float: left;
}

.dldtdd dd {
	display: inline-block;
	float: left;
}

.price-region {
	margin-top: 8px;
}

.s-dec a {
	width: 214px;
	text-overflow: ellipsis;
	text-decoration: none;
	display: block;
	overflow: hidden;
	color: #333;
	height: 40px;
	padding-left: 7px;
	text-indent: 2em;
	text-align: center;
}

.sel-shop-iteam .cart-price {
	line-height: 18px;
	height: 22px;
	margin: 0px 0px 0px 0px;
}

.sel-shop-iteam .cart-price .price {
	width: auto;
	float: none;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
}

.sel-shop-iteam .s-pic {
	height: 165px;
	line-height: 165px;
	overflow: hidden;
	margin-top: 5px;
	vertical-align: middle;
}

.sel-shop-iteam .s-pic a {
	height: 100%;
	border: none;
	line-height: 150px;
	display: block;
}

.sel-shop-iteam .s-pic img {
	vertical-align: middle;
}

.sel-shop-iteam {
	text-align: center;
}

.sel-shop-iteam {
	position: relative;
	overflow: visible;
	width: 223px;
	padding-bottom: 10px;
	border-radius: 10px;
	border: solid 4px #fff;
	float: left;
	box-sizing: border-box;
	margin: 10px 8px 6px 9px;
}

.sel-shop-iteam:hover {
	border-color: rgb(221, 221, 221);
}

.on {
	background-color: #ccc;
}

/* 登录样式 */
#login .login-login-panel {
	width: 550px;
	margin-left: 0%;
	float: left;
}

#login .login-login-panel .tit {
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #999999;
	margin-top: 15px;
	padding-bottom: 5px;
}

#login .login-login-panel table {
	margin-top: 30px;
}

#login .table-tit {
	width: 140px;
	float: left;
	padding-top: 20px;
}

#login .table-tit-regist {
	width: 170px;
	float: left;
	padding-top: 20px;
	text-align: right;
}

#login .login-right-register {
	width: 50%;
	float: left;
	text-align: left;
}

#login .login-right-register .tit {
	width: 100%;
	text-align: center;
	font-size: 24px;
	color: #999999;
	margin-top: 15px;
	padding-bottom: 5px;
}

#login .login-login-panel table td {
	padding-bottom: 15px;
	padding-left: 10px;
	line-height: 100%;
	vertical-align: bottom;
}

#login .login-right-register table {
	margin-top: 30px;
}

#login .login-right-register table td {
	padding-bottom: 15px;
	padding-left: 10px;
	line-height: 100%;
	vertical-align: bottom;
}






#login .auth-pic img {
	float: left;
	margin-top: 5px;
	padding-top: 5px;
}

#login .auth-pic a {
	float: left;
	color: #666666
}

#login .auth-pic a:hover {
	float: left;
	color: #333333;
	text-decoration: underline;
}

#login .auth-pic a div {
	margin-left: 2px;
	padding-top: 5px;
	margin-top: 5px;
	height: 20px;
	font-size: 12px;
}

#login .auth-check {
	width: 40px;
	height: 25px;
	outline: none;
	border: 0px;
	float: left;
}

#login .auth-read {
	line-height: 30px;
	margin-left: 0px;
	float: left;
}



#login .login-success {
	width: 90%;
	margin-left: 5%;
	float: left;
}

#login .login-success .img {
	margin-left: 200px;
	width: 500px;
	margin-top: 20px;
	float: left;
}

#login .login-success .tex {
	font-size: 30px;
	color: #999999;
	text-align: center;
	margin-top: 20px;
	float: left;
	width: 100%;
}

#login .btns {
	width: 60%;
	margin-left: 320px;
	float: left;
	text-align: left;
	margin-top: 20px;
}

#login .btns .item {
	width: 200px;
	float: left;
	margin-right: 100px;
}

#login .disappear-line-login {
	background-image: url(/images/comm/disappear-line-login.png);
	width: 100%;
	height: 2px;
	float: left;
	margin-top: 30px;
}

.regist-btn {
	float: right;
	width: 99%;
	margin-left: 1%;
	cursor: pointer;
}

.regist-btn div {
	width: 99%;
	height: 34px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 34px;
	border: #CCCCCC solid 1px;
	color: #FFFFFF;
	font-size: 17px;
	color: #666666;
}

.regist-btn-long {
	width: 100%;
	float: left;
	margin-right: 5px;
}

.regist-btn-long div {
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 50px;
	float: left;
	border: #CCCCCC solid 1px;
	color: #FFFFFF;
	font-size: 17px;
	color: #666666;
}

.regist-btn-long div img {
	margin-top: 0px;
	float: left;
	margin-left: 175px;
	margin-right: 10px;
	margin-top: 5px;
}

.regist-btn-long div span {
	margin-top: 0px;
	float: left;
	margin-left: 10px;
}

.regist-btn-long-no-icon {
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.regist-btn-long-no-icon div {
	width: 100%;
	height: 50px;
	background-color: #FFFFFF;
	text-align: center;
	line-height: 50px;
	float: left;
	border: #CCCCCC solid 1px;
	color: #FFFFFF;
	font-size: 17px;
	color: #666666;
}

.regist-btn-long-no-icon div span {}

.round-input {
	width: 380px;
	height: 40px;
	line-height: 40px;
	background-color: #CACACA;
	outline: none;
	border: #FFFFFF solid 0px;
	padding-left: 20px;
	color: #FFF;
	font-size: 15px;
}

.square-input {
	width: 420px;
	height: 40px;
	line-height: 40px;
	background-color: #FFFFFF;
	border: #cccccc solid 1px;
	padding-left: 20px;
	color: #666666;
	font-size: 15px;
}

.square-input-short {
	width: 310px;
	height: 30px;
	line-height: 30px;
	background-color: #FFFFFF;
	border: #cccccc solid 1px;
	padding-left: 20px;
	color: #666666;
	font-size: 15px;
}

.short-round-input {
	width: 180px;
	height: 40px;
	line-height: 40px;
	background-color: #CACACA;
	outline: none;
	border: #FFFFFF solid 0px;
	padding-left: 20px;
	color: #666666;
	font-size: 20px;
	line-height: 40px;
}

.short-square-input {
	width: 180px;
	height: 40px;
	line-height: 40px;
	background-color: #FFFFFF;
	border: #ccc solid 1px;
	padding-left: 20px;
	color: #666666;
	font-size: 20px;
	line-height: 40px;
}

.square-input-100 {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #CACACA;
	outline: none;
	border: #FFFFFF solid 0px;
	color: #FFF;
	font-size: 15px;
}

.short-square-sel {
	width: 205px;
	height: 40px;
	line-height: 40px;
	background-color: #FFFFFF;
	border: #ccc solid 1px;
	color: #666666;
	font-size: 20px;
	line-height: 40px;
	outline: none;
}

.short-square-sel-third {
	width: 120px;
	height: 40px;
	line-height: 40px;
	background-color: #FFFFFF;
	border: #ccc solid 1px;
	color: #666666;
	font-size: 20px;
	line-height: 40px;
	outline: none;
}

.sp-login_reg {
	clear: both;
}

.login-nav-tab {
	width: 250px;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
	padding-left: 50px;
}

.login-nav-tab li {
	width: 100px;
	float: left;
	line-height: 30px;
	border: solid 1px #ddd;
}

.login-nav-tab li a {
	line-height: 30px;
	display: block;
	width: 100%;
	color: #555;
}

.login-nav-tab .selected {
	background: #EC8D36;
	color: #fff;
	border: solid 1px #EC8D36;
}

.login-nav-tab .selected a {
	color: #fff;
}

.tdyzm{
	position: relative;
}
#captcha1 {
	z-index: 5;
	position: absolute;
	top: 0px;
	left: 132px;
	color: #666;
}
.djyzm{
	position: absolute;
	display: inline-block;
	top: 12px;
	left: 222px;
}
#spcode{
	border: 0;
	padding-left: 0px;
}
.activeColor{
	color: red;
}