@charset "utf-8";

/* CSS Document */
.main.pay-main {
	background: #fff;
	width: 1200px;
	margin: 0px auto;
	clear: both;
}

.cart-filter-bar {
	margin: 0px auto;
}

.switch-cart {
	float: left;
	position: relative;
	height: 26px;
	overflow: hidden;
	padding-top: 20px;
}

.switch-cart .switch-cart-item {
	font-size: 18px;
	color: #333333;
}

.switch-cart .shop-number {
	font-size: 18px;
	color: #f86f76;
}

.ui-area-wrap {
	width: auto;
	float: right;
}

.cart-main {
	width: 1200px;
	margin: 5px auto auto auto;
}

.cart-thead {
	padding: 10px 0px;
	background: #f3f3f3;
	border-bottom: 1px solid #cccccc
}

.cart-thead.car-end {
	border-bottom: none;
	height: 42;
	min-height: 42;
}

.cart-thead .column {
	float: left;
	font-size: 12px;
	color: #333333;
}

.cart-thead .t-checkbox {
	width: 80px;
	text-align: center;
}

.cart-thead .t-goods {
	width: 606px;
	text-indent: 30px;
}

.cart-thead .t-goods-min {
	width: 375px;
	text-indent: 160px;
}

.cart-thead .t-price {
	width: 150px;
	text-align: center;
}

.cart-thead .t-quantity {
	width: 152px;
	text-align: center;
}

.cart-thead .t-sum {
	width: 118px;
	text-align: center;
}

.cart-thead .t-action {
	width: 123px;
	text-align: center;
}

.mxcheckbox {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 1px solid #999999;
	background: #fff;
	float: left;
	cursor: pointer;
}

.cart-checkbox .mxcheckbox,
.t-checkbox .mxcheckbox {
	margin-left: 30px;
}

.item-list {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 20px;
}

.item-list.active {
	background: #fff3f3;
}

.item-list.active .mxcheckbox,
.send-pay .pay-li.active .mxcheckbox {
	background: url(../images/checked.png) no-repeat center center;
}

.cell {
	padding-top: 0px;
}

.item-s-form {
	padding-top: 16px;
}

.item-s-notice {
	padding: 10px;
}

.item-list.active .item-s-notice {
	background: #fff;
}

.em-word {
	color: #333333;
	margin-left: 13px;
}

.cart-checkbox {
	width: 70px;
	text-align: center;
	float: left;
}

.p-goods {
	width: 585px;
	float: left;
}

.p-goods-min {
	width: 375px;
	float: left;
}

.p-img {
	width: 80px;
	height: 80px;
	border: 1px solid #cccccc;
	text-align: center;
	float: left;
}

.p-img img {
	width: 80px;
	height: 80px;
}

.p-msg {
	padding-left: 102px;
	font-size: 14px;
	width: 60%;
}

.p-msg a {
	color: #333333
}

.p-msg a:hover {
	text-decoration: none;
}

.p-price {
	width: 150px;
	float: left;
	color: #333333;
	font-size: 14px;
}

.p-m {
	display: block;
	text-align: center;
}

.p-quantity {
	float: left;
	width: 152px;
}

.p-quantity .wrap-input {
	margin-left: 20px;
}

.quantity-txt {
	display: block;
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 8px;
	color: #333333;
}

.p-sum {
	width: 118px;
	float: left;
	text-align: center;
	color: #333333;
	font-size: 14px;
}

.p-action {
	width: 123px;
	float: left;
}

.p-action a {
	color: #333333;
	display: inline-block;
	width: 100%;
	text-indent: 35px;
}

.car-s-notice {
	color: #333333;
	font-size: 12px;
	padding: 10px 26px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	vertical-align: middle;
}

.s-info {
	color: #f86f76;
	font-size: 12px;
	margin-left: 5px;
}

.n-icon {
	vertical-align: middle;
	margin-right: 5px;
}

.operation {
	float: left;
	margin-left: 40px;
}

.operation a.remove-batch,
.operation a.follow-batch {
	font-size: 14px;
	color: #787373;
	font-weight: bold;
	margin-left: 16px;
}

.alcheck {
	float: left;
	margin-left: -10px;
	font-size: 14px;
	color: #787373;
	font-weight: bold;
}

.comm-right {
	float: right;
	width: 710px;
	position: relative;
}

.submit-btn {
	width: 123px;
	height: 40px;
	background: #f26e78;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	position: absolute;
	right: 0px;
	top: -10px;
	text-align: center;
	line-height: 40px;
}

.submit-btn:hover {
	color: #fff;
	text-decoration: none;
}

.price-sum {
	float: right;
	margin-right: 160px;
	width: auto;
	line-height: 26px;
}

.price-sum .amount-sum {
	margin-right: 35px;
}

.price-sum .sumPrice,
.price-sum .amount-sum {
	float: right;
	font-size: 14px;
	color: #5c5c5c;
	font-weight: bold;

}

.price-sum .amount-sum em {
	color: #f86f76;
	margin-left: 3px;
	margin-right: 3px;
	font-size: 18px;
}

.price-sum .sumPrice {
	height: 20px;
	margin-top: -2px;
}

.price-sum .sumPrice em {
	font-weight: bold;
	font-size: 24px;
	color: #f86f76;
	margin-top: -5px;
}

.c-tabs {
	width: 1200px;
	margin: 38px auto auto auto;
}

.c-tabs-tit {
	width: 1200px;
	height: 33px;
	margin: 0px auto;
	background: url(../images/line.jpg) repeat-x bottom left
}

.c-tabs li {
	display: inline;
	padding: 6px 28px;
	font-size: 14px;
	color: #333333;
	float: left;
	cursor: pointer;
}

.c-tabs li.tabs-iteam-active {
	color: #f86f76;
	background: #ffffff;
	border-top: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
}

.c-tabs-end {
	display: block;
	width: 1198px;
	margin: 0px auto;
	background: #ffffff;
	padding: 34px 0px 34px 0px;
	border-bottom: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	overflow: hidden;
	position: relative;
	height: 260px;
}

.c-tabs-end ul {
	display: block;
	width: 1198px;
	height: 210px;
	position: relative;
}

.c-tabs-end li {
	display: block;
	width: 1142px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.c-tabs-end li .c-tabs-info {
	width: 190px;
	float: left;
}

.c-tabs-end li .c-tabs-info p {
	width: 135px;
	margin: auto;
	padding: 5px 0px;
}

.c-tabs-end li .c-tabs-info span {
	display: block;
	width: 135px;
	margin: auto;
	text-align: center;
	color: #e43b36;
	font-weight: bold;
	font-size: 14px;
}

.c-tabs-end li .c-tabs-info a {
	color: #66666a;
	text-decoration: none;
}

.c-tabs-end li .c-tabs-info .tabs-a-pic {
	width: 135px;
	height: 135px;
	margin: 0px auto;
}

.add-car-btn {
	width: 135px;
	height: 35px;
	display: block;
	margin: 0px auto;
	background: url(../images/add-car-btn.jpg) no-repeat center center;
	margin-top: 20px;
}

.tabs-btn {
	display: block;
	width: 53px;
	height: 329px;
	position: absolute;
	top: 24px;
	cursor: pointer;
}

.tabs-left-btn {
	left: 0px;
	background: url(../images/tabs-left-btn.png) #fff no-repeat center center;
}

.tabs-right-btn {
	right: 0px;
	background: url(../images/tabs-right-btn.png) #fff no-repeat center center;
}

/*pay-2*/
.address-tit {
	width: 1200px;
	padding-bottom: 11px;
	border-bottom: 4px solid #f0f0f0;
}

.address-tit b {
	color: #000000;
	font-size: 18px;
}

.address-list {
	margin-top: 45px;
}

.add-adddress-btn {
	color: #f26e78;
	text-decoration: none;
	font-size: 14px;
	float: right;
	margin-top: 8px;
}

.add-adddress-btn:hover {
	text-decoration: none;
	color: #f26e78;
}

.address-list li {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #cccccc;
	padding: 11px 0px;
	position: relative;
	font-size: 14px;
	color: #666666;
	cursor: pointer;
}

.address-list li .a-send {
	display: none;
	width: 83px;
	height: 22px;
	float: left;
	background: url(../images/address-icon.png) no-repeat left center;
	font-size: 14px;
	color: #666666;
	text-indent: 22px;
	position: absolute;
	left: 11px;
	top: 11px;
}

.address-list li.active {
	background: #fff3f3;
	border: 1px solid #f86f76;
}

.address-list li.active .a-send {
	display: block;
}

.address-list li.active .a-send,
.address-list li.active .a-place {
	font-weight: bold;
}

.address-list li.active a {
	color: #f86f76
}

.address-list li .a-place {
	display: block;
	width: 880px;
	float: left;
	background: url(../images/circle-icon.png) no-repeat left center;
	text-indent: 25px;
	margin-left: 93px;
}

.address-list li.active .a-place {
	background: url(../images/circle-icon-active.png) no-repeat left center;
}

.address-list li a:hover {
	color: #666666;
}

.address-list li.active a:hover {
	color: #f86f76;
}

.address-list li a {
	display: inline-block;
	float: left;
	padding: 0px 12px;
	color: #666666;
	text-decoration: none;
	font-size: 12px;
}

.sure-address {
	margin-top: 48px;
}

.sure-order-info {
	margin-top: 26px;
	border: 1px solid #cccccc;
	padding: 22px 14px 12px 26px
}

.sure-order-info-left {
	width: 558px;
	float: left;
}

.sure-order-info-left h1,
.sure-order-info-right h1 {
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}

.sure-order-info-right {
	width: 560px;
	float: right;
}

.send-list {
	display: block;
	margin-top: 21px;
}

.send-list li {
	display: inline-block;
	padding: 0px 10px;
	margin-right: 5px;
	border-radius: 5px;
	border: 1px solid #666666;
	position: relative;
	cursor: pointer;
}

.send-list li.active {
	border: 1px solid #f86f76;
}

.send-right-red {
	position: absolute;
	width: 16px;
	height: 13px;
	background: url(../images/hyb-right-red.png) no-repeat center center;
	right: 0px;
	bottom: 0px;
	display: none;
}

.send-list li.active em.send-right-red {
	display: block;
}

.send-notice {
	color: #4d4d4d;
	padding-top: 8px;
}

.send-pay {
	display: block;
	margin-top: 30px;
}

.send-pay li {
	float: left;
	margin-right: 52px;
	display: inline-block;
	line-height: 16px;
	color: #282727;
	cursor: pointer;
}

.send-pay li .mxcheckbox {
	margin-right: 8px;
}

.send-shop-info {
	margin-top: 16px;
}

.send-shop-info .p-img {
	float: left;
}

.send-shop-info-right {
	float: right;
	width: 465px;

}

.send-shop-info-right p {
	color: #333333
}

.send-shop-info-right p.s-list span {
	margin-right: 33px;
	font-size: 14px;
}

.send-shop-info-right .s-price {
	font-size: 14px;
	color: #f26e78;
	font-weight: bold;
}

.send-shop-info-right p.s-list {
	padding-top: 10px;
}

.send-shop-info-right p.s-yunfei span {
	float: right;
	margin-top: 39px;
	font-size: 14px;
}

.pay-tit {
	margin-top: 45px;
}

.add-notice {
	margin-top: 8px;
	padding: 11px 28px 27px 28px;
	background: #f8f8f8;
}

.add-notice h1 {
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 16px;
}

.notice-txt {
	width: 690px;
	height: 32px;
	border: 1px solid #cccccc;
	text-indent: 14px;
	vertical-align: middle;
}

.add-notice em {
	color: #333333;
	margin-left: 14px;
}

.txt-block {
	position: relative;
}

.txt-msg {
	position: absolute;
	left: 14px;
	top: 7px;
	font-weight: bold;
	color: #cccccc;
}

.pay-sure {
	padding: 18px 0px 0px 10px;
}

.pay-form {
	width: 100%;
	height: 93px;
}

.pay-form li {
	display: block;
	width: 197px;
	border-right: 1px solid #cccccc;
	text-align: center;
	height: 93px;
	float: left;
	cursor: pointer;
	position: relative;
}

.pay-form li.active em.pay-sure-btn {
	background: url(../images/circle-icon-active.png) no-repeat center center;
}

.pay-form li.p-last {
	border-right: none;
}

.pay-form li span {
	display: inline-block;
	margin-top: 5px;
}

.pay-form li em.pay-sure-btn {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/circle-icon.png) no-repeat center center;
	position: absolute;
	left: 50%;
	margin-left: -9px;
	bottom: 0px;
}

.pay-form li span.alipay-icon {
	width: 106px;
	height: 35px;
	background-image: url(../images/pay-icon.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.pay-form li span.wx-icon {
	width: 74px;
	height: 62px;
	background-image: url(../images/pay-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -51px;
}

.pay-form li span.tenpay-icon {
	width: 115px;
	height: 45px;
	background-image: url(../images/pay-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -138px;
}

.pay-form li span.unionpay-icon {
	width: 141px;
	height: 33px;
	background-image: url(../images/pay-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -201px;
}

.pay-form li span.yeepay-icon {
	width: 122px;
	height: 36px;
	background-image: url(../images/pay-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -256px;
}

.pay-form li span.netpay-icon {
	width: 106px;
	height: 58px;
	background-image: url(../images/pay-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -322px;
}

.pay-notice {
	color: #000000;
	padding-top: 20px;
}

.pay-intro,
.pay-intro:hover {
	text-decoration: none;
	color: #f87b81
}

.user-see {
	color: #f87b81;
	font-size: 12px;
	margin-left: 13px;
}

.user-see:hover {
	text-decoration: none;
	color: #f87b81;
}

.check-agree {
	font-size: 14px;
	line-height: 18px;
	color: #f87b81;
	margin-top: 20px;
}

.agreed {
	display: inline-block;
	cursor: pointer;
}

.agreed.active .mxcheckbox {
	background: url(../images/checked.png) no-repeat center center;
}

.check-agree em {
	color: #333333;
	margin: 0px 13px 0px 10px;
}

.u-p {
	color: #000000;
	margin-top: 18px;
}

.user-shop-info {
	padding: 20px 11px 20px 15px;
	border: 1px solid #cccccc;
	margin-top: 38px;
}

.user-shop-info-left {
	width: 806px;
	float: left;
}

.user-shop-info-left dt {
	display: inline-block;
	cursor: pointer;
	margin-top: 4px;
	width: 100%;
}

.user-shop-info-left dt .use-ticket {
	cursor: pointer;
}

.plus-i {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(../images/plus-btn.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: left;
	margin-top: 2px;
}

.user-shop-info-left dt .use-ticket.active .plus-i {
	background-position: 0px -24px;
}

.use-em {
	font-size: 16px;
	color: #f87b81;
	float: left;
	margin-left: 8px;
}

.use-securities {
	display: inline-block;
	border: 1px solid #f26e78;
	background: #fff3f3;
	padding: 20px 12px 12px 12px;
	width: 100%;
	position: relative;
	display: none;
	margin-bottom: 10px;
}

.exchange-action {
	padding-bottom: 15px;
	border-bottom: 1px dashed #f58f97;
	width: 505px;
}

.mb-action {
	padding-bottom: 15px;
	border-bottom: 1px dashed #f58f97;
	width: 100%;
}

.exchange-txt {
	width: 273px;
	height: 27px;
	border: 1px solid #9a9a9a;
	margin-top: -6px;
	vertical-align: middle;
	margin-left: 6px;
}

.mb-txt {
	width: 90px;
	height: 27px;
	border: 1px solid #9a9a9a;
	margin-top: -6px;
	vertical-align: middle;
	margin-left: 6px;
}

.use-exchange-btn {
	display: inline-block;
	padding: 5px 27px;
	background: #f26e78;
	color: #fff;
	font-size: 14px;
	margin-top: -6px;
	vertical-align: middle;
	margin-left: 6px;
}

.use-exchange-btn:hover {
	color: #fff;
	text-decoration: none;
}

.exchange-aount {
	padding-top: 10px;
}

.exchange-aount em {
	color: #f87b81;
}

.exchange-wx {
	display: block;
	width: 218px;
	height: 77px;
	position: absolute;
	right: 46px;
	top: 13px;
}

.user-shop-info-right {
	width: 295px;
	float: right;
}

.user-shop-info-right dt {
	float: left;
	display: block;
	width: 145px;
	text-align: right;
	margin-bottom: 5px;
	color: #333333;
	font-size: 13px;
}

.user-shop-info-right dd {
	float: left;
	display: block;
	width: 150px;
	text-align: right;
	margin-bottom: 5px;
	font-size: 13px;
	color: #333333;
}

.s-a em {
	font-weight: bold;
	color: #f87b81;
	margin-right: 2px;
}

.user-shop-info-right dd.s-a-total {
	color: #f87b81;
	font-weight: bold;
}

.user-shop-info-right dt.s-total-price {
	font-size: 15px;
	margin-top: 26px;
}

.user-shop-info-right dd.s-total-m {
	margin-top: 26px;
	font-size: 15px;
}

.user-shop-info-right dt.s-total-save {
	font-size: 15px;
}

.user-shop-info-right dd.s-save-m {
	font-size: 15px;
	color: #f87b81;
}

.total-bar {
	height: 66px;
	background: #ebebeb;
	position: relative;
}

.total-bar .price-sum {
	margin-top: 15px;
	margin-right: 213px;
}

.m-oher {
	display: block;
	text-align: center;
	color: #737272;
	font-weight: bold;
}

.order-btn {
	display: inline-block;
	background: #f26e78;
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	padding: 23px 44px;
}

.bar-info {
	height: 45px;
	line-height: 45px;
	color: #333333;
	font-size: 14px;
	background: #f8f8f8;
	text-indent: 17px;
}

.allchecked.active {
	background: url(../images/checked.png) no-repeat center center
}

#ChouJiang {

	right: 40%;

	position: absolute;

	display: none;

	margin: 0 auto;

}

.BaoXiang {

	width: 230px;

	top: 150px;

	right: 50%;

	position: absolute;

}

.Title_Show {

	width: 200px;

	height: 100px;

	top: 20px;

	right: 15px;

	position: absolute;

}

.Title_Show_Top {

	top: 30px;

	right: 15px;

	position: relative;

	width: 230px;

}

.Title_Show_Bottom {

	top: -10px;

	right: 15px;

	position: relative;

	width: 230px;

}

.Title_Show_Middle {

	border-left: #e59c00 1px solid;

	border-right: #e59c00 1px solid;

	z-index: 2;

	width: 228px;

	position: relative;

	height: 100px;

	right: 15px;

	text-align: center;

	top: 25px;

}

.Title_Show_Middle_Content {

	top: 20px;

	font-size: 20px;

	position: relative;

}

#jianMianBtn {

	background-color: #f86f78;

	color: White;

	text-align: center;

	padding: 10px;

	position: relative;

	margin: 0 auto;

	width: 180px;

	top: 30px;

	font-size: 20px;

}

.Title_Show_Top img,
.Title_Show_Bottom img {

	width: 230px;

}

.cart-thead .comm-right{
	margin-top: 10px;
}
#buycart-content{
	margin: 0 !important;
}